// General styles
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.innerWrapper {
    max-width: 700px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.hidden {
    display: none;
}

body {
   background-image: linear-gradient(to bottom, rgba(66, 138, 206, 0.5)), url(../assets/bgImg.jpg);
   background-size: cover;
   background-color: lightblue;
}

// Main page styles
.mainScreen {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flexHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: unset;
}

.ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a.ui-state-hover, 
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    text-align:left;
    font-size: 1.4rem;
}

.mainScreen:not(.flexHeader) .searchBlock {
    width: 50%;
}

.ui-autocomplete-loading { 
    background: white url("/assets/loading-ui.gif") right center no-repeat; 
}

input[type=text] { 
    padding: 0.5rem 1rem;
    width: 100%;

    &:focus {
        outline: 2px solid lightblue;
    }
} 

// Weather individual day styles
.detailedView {
    display: flex;
    justify-content: center;
    text-align: center;

    .dayBlock {
        padding: 15px;
        flex-shrink: 0;
    }

    .dayBlockOne,
    .dayBlockThree {
        width: 25%;
    }

    .dayBlockTwo {
        width: 50%;

        p {
            font-weight: 400;
        }
    }
}

.dayIcon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.averageTemp {
    margin: 0;

    span.avg {
        position: relative;
        top: -30px;
    }
}

// Weather week styles
.dayContainer {
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3);
    padding: 0 20px; 
    transition: all 0.5s ease;

    &:hover {
       background: rgba(255, 255, 255, 0.7); 
       transform: scale(1.05);
       box-shadow: 0 0 8px 0 black;
    }
}

.weekContainer {
    display: flex;
    justify-content: space-around;
}