html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 2rem;
    color: rgb(34, 34, 34);
    font-weight: 300;
}

h1 {
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

.averageTemp {
    font-size: 6rem;
    font-weight: 600;
}

span.maxTemp,
.dayBlockTwo .date {
    font-size: 2.4rem;
}

span.minTemp,
span.avg {
    font-size: 1.6rem;
}

.value {
    font-weight: 400;
}

