html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    // color: white;
}

body {
    font-size: 2rem;
}

h1 {
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 3rem;
}

